.campaigns {
  &__headline {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
  }

  &__query {
    &-container {
      @include flex-row();
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 12px;
      row-gap: 12px;
      width: 100%;
    }

    &-search {
      flex-grow: 1;
      min-width: 280px;
      // max-width: 50%;

      .form-outline {
        flex-grow: 1;
      }

      &-input {
        width: 100%;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &-group {
      width: 100%;
      @include flex-row();
      justify-content: center;
      column-gap: 8px;
      flex-wrap: wrap;
    }

    &-filter {
      min-width: 80px;
      max-width: 160px;
      border-radius: 36px;
      flex-shrink: 0;
    }
  }

  &__list {
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 12px;
    row-gap: 8px;
  }
  &__item {
    &-link {
      text-decoration: none;
      color: inherit;
      transition: color 0.4s ease;
    }
    .card {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &:has(> *:nth-child(4)) {
      &:last-child {
        grid-column: span 2;
      }
    }
    &:first-child {
      grid-column: span 2;
    }
    &-buttons {
      list-style: none;
      padding: 0;
      @include flex-row();
      justify-content: space-between;
      align-items: center;
      column-gap: 4px;
      flex-wrap: wrap;
    }
  }
  &__paginator {
    // margin: 0 auto;
    @include flex-row();
    justify-content: center;
    align-items: center;
    column-gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .campaigns {
    &__headline {
      @include flex-col();
      justify-content: center;
      align-items: flex-start;
      row-gap: 8px;
    }
    &__query {
      &-group {
        column-gap: 4px;
      }
    }
    &__item {
      grid-column: span 1 !important;
    }
  }
}
