.campaigns {
  &__headline {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    column-gap: 12px;
    row-gap: 8px;
  }
  &__item {
    &-link {
      text-decoration: none;
      color: inherit;
      transition: color 0.4s ease;
    }
    .card {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &:has(> *:nth-child(4)) {
      &:last-child {
        grid-column: span 2;
      }
    }
    &:first-child {
      grid-column: span 2;

      .card-category__item {
        font-size: 20px;
      }
    }
    &-buttons {
      list-style: none;
      padding: 0;
      @include flex-row();
      justify-content: space-between;
      align-items: center;
      column-gap: 4px;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 48rem) {
  .campaigns {
    &__headline {
      @include flex-col();
      justify-content: center;
      align-items: flex-start;
      row-gap: 8px;
    }
    &__query {
      &-group {
        column-gap: 4px;
      }
    }
    &__item {
      grid-column: span 1 !important;
    }
  }
}
