.campaigns {
  &-detail {
    &__header {
      text-align: center;
      margin-bottom: 2rem;
    }
    &__image {
      width: 100%;
      max-height: 30rem;
      object-fit: cover;
      border-radius: 12px;
      margin-bottom: 1.5rem;
    }
    &__description {
      font-size: 1.2rem;
      font-weight: $fw-normal;
      color: $text-light-gray;
      line-height: 1.6;
    }
    &__buttons {
      @include flex-row();
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
    }
    &__category {
      text-align: center;
    }
    &__list {
      @include flex-row();
      justify-content: center;
      align-self: center;
      flex-wrap: wrap;
      column-gap: 36px;
      row-gap: 16px;
      padding: 0;
      color: $primary;
      // list-style: none;
    }
    &__item {
      font-weight: $fw-bold;
      font-size: 20px;
      &::marker {
        content: "😍";
      }
    }
    &__progress {
      padding: 1rem;
      text-align: center;

      p {
        font-size: 1rem;
        margin-bottom: 0.5rem;

        strong {
          color: $dark-navy;
        }
      }
    }
    &__info {
      position: relative;
      padding: 1rem;
      text-align: center;

      p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        strong {
          color: $dark-navy;
        }
      }
    }
    .status {
      font-weight: 700;
      text-transform: uppercase;
      &.ongoing {
        color: $green-light;
      }
      &.completed {
        color: $white;
      }
      &.upcoming {
        color: $accent;
      }
    }
    &__status {
      position: absolute;
      content: "";
      top: 8px;
      right: 8px;
      z-index: 1000;
      padding: 8px 12px;
      background-color: $primary;
      border-radius: 8px;
      font-weight: $fw-bold;
      font-size: 1.2rem;
      color: $text-dark-gray;
    }
  }
}

@media screen and (max-width: 50rem) {
  .campaigns {
    &-detail {
      &__status {
        top: 4px;
        right: 4px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 1rem;
      }
      &__list {
        column-gap: 24px;
      }
    }
  }
}
