@import "./login.scss";
@import "./register.scss";
@import "./registration.scss";

.auth {
  &__wrap {
    @include flex-col();
    row-gap: 20px;
  }
  &__hero {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    row-gap: 8px;
    &-content {
      padding: 12px 16px;
    }
  }
  &__interlink {
    flex: 1;

    .card-body {
      @include flex-row();
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
    }

    &-text {
      text-align: center;
    }
    // text-align: center;
  }
  &__title {
    text-align: center;
    font-weight: $fw-bold;
  }
  &__description {
    text-align: center;
    font-weight: $fw-normal;
  }
}

@media screen and (max-width: 764px) {
  .auth {
    &__wrap {
      row-gap: 12px;
    }
    &__hero {
      @include flex-col();
      row-gap: 12px;
      &-content {
        padding: 8px 12px;
      }
    }
    &__interlink {
      .card-body {
        column-gap: 0.5rem;
      }
    }
  }
}
