.register {
  &-image {
    border-radius: 16px;

    &__container {
      max-width: 60%;
    }
  }
  &__form {
    max-width: 84%;
    margin: auto;

    &-buttons {
      @include flex-row();
      column-gap: 8px;
    }
  }
}

@media screen and (max-width: 764px) {
  .register {
    &__wrap {
      flex-direction: column-reverse !important;
    }
    &-image {
      border-radius: 12px;
      &__container {
        max-width: 50%;
      }
    }
    &__form {
      margin-top: 8px !important;
      max-width: 100%;
    }
  }
}
