.registration {
  &--success {
    .registration__icon {
      color: $green;
    }
  }
  &--error {
    .registration__icon {
      color: $accent;
    }
  }
  &__wrap {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: $dark-shadow;
    padding: 40px;
    text-align: center;
    @include flex-col();
    justify-content: center;
    align-items: center;
    row-gap: 8px;
  }
  &__icon {
    color: $primary;
    width: 68px;
    height: 68px;
  }
  &__title {
    color: $dark-navy;
    font-size: 2rem;
    font-weight: $fw-bold;
    margin-bottom: 20px;
  }
  &__message {
    font-size: 1rem;
    color: $text-light-gray;
    margin-bottom: 28px;
  }
}
