.successful-registration {
  &__wrap {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    @include flex-col();
    justify-content: center;
    align-items: center;
    row-gap: 8px;
  }
  &__icon {
    width: 60px;
    height: 60px;
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    color: #4a90e2;
    margin-bottom: 20px;
  }

  &__message {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 30px;
  }
}
