html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  @include flex-col;
  min-height: 100vh;
  background: $pale-blue;
  color: $text-dark-gray;
}

.main {
  margin-top: 40px;
  flex: 1;
  @include flex-col;
  @include flex-center;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;

  & span.decoration {
    font-weight: $fw-super-bold;
    color: $primary;
  }
}
h1 {
  font-weight: $fw-super-bold;
}
h3,
h4,
h5 {
  font-weight: $fw-bold;
}

.heading {
  font-size: 2.5rem;
  font-weight: $fw-bold;
  &--light {
    color: $white;
  }
}

.sub-heading {
  font-size: 1.95rem;
  font-weight: $fw-bold;
  line-height: 1.1;
  letter-spacing: -0.3px;

  &--light {
    color: $white;
  }
}

p {
  color: $text-light-gray;
}

section {
  width: 100%;
}

.image {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.blur-load {
  position: relative;
  background-image: url("/assets/img/img-small.jpg");
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    animation: pulse 2.5s infinite;
  }

  &.loaded {
    background-image: none !important;
    &::before {
      animation: none;
      content: none;
    }
    & > img {
      opacity: 1;
    }
  }

  & > img {
    transition: opacity 250ms ease-in-out;
    opacity: 0;
  }
}

.text-content {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  padding: 0 20px;
}

.site-logo {
  @include flex-row();
  justify-content: center;
  align-items: center;
  column-gap: 8px;

  &__svg {
    width: 40px;
    height: 40px;
    color: $primary !important;
  }
  &__text {
    font-family: "Montserrat";
    font-weight: $fw-super-bold;
    font-size: 28px;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $primary !important;
    }
  }
}

@media screen and (max-width: 26.75rem) {
  .site-logo {
    &__text {
      font-weight: $fw-bold;
      font-size: 24px;
    }
  }
}

[class$="__buttons-list"] {
  list-style: none;
  padding: 0;
  @include flex-row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.section-indicator {
  font-style: italic;
  font-size: 20px;
  font-weight: $fw-bold;
  color: $primary;
  letter-spacing: 0.2rem;
}

.progress {
  // margin: 0 auto;
  // max-width: 60%;
  border-radius: 12px;
  height: 28px;

  &-bar {
    font-size: 1rem;
    font-weight: $fw-bold;
  }
}

.mark {
  &--match {
    padding: 0;
  }
}

.card {
  border: none;
  border-radius: 10px;
  padding: 12px 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &-border {
    border: 2px solid $primary-transparent;
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  &-image {
    position: relative;
  }
  &-status {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1000;
    padding: 4px 8px;
    background-color: $pale-blue;
    border-radius: 8px;
    font-weight: $fw-bold;
    font-size: 12px;
    color: $text-dark-gray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-transform: uppercase;
  }
  &-title {
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
  &-body {
    padding: 8px 0;
  }
  .icon-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &-category {
    &__item {
      font-weight: $fw-bold;
      font-size: 16px;
      color: $sky-blue;
    }
  }
  &--dark {
    background-color: $dark-navy;
    &-transparent {
      background-color: $dark-navy-transparent !important;
    }
  }
  &--lite {
    &:hover {
      transform: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .card {
    &--lite {
      .card-status {
        position: relative;
        width: max-content;
        top: 0;
        right: 0;
        padding: 2px 4px;
        border-radius: 4px;
        font-size: 8px;
      }
    }
    &-body {
      padding: 4px 0;
    }
  }
}

.btn {
  // padding: 0.75rem 1.5rem;
  padding: 1rem 1.25rem;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  &-primary {
    background-color: $primary;
  }
  &-outline-primary {
    color: $dark-navy;
    border: 1px solid $primary;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary;
      color: $white;
    }
  }
  &-sky {
    background-color: $sky-blue;
    color: $white;
    // padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;

    &:hover {
      background-color: $sky-blue; // Darker blue on hover
    }
  }
  &-outline-sky {
    background-color: transparent;
    border: 2px solid $sky-blue;
    color: $sky-blue;

    &:hover {
      background-color: $sky-blue;
      color: $white;
    }
  }
  &-light {
    border-color: var(--bs-btn-hover-border-color);
    background-color: $bg-light-gray !important;

    &:hover {
      transform: scale(0.9);
    }
  }
  &-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.25rem;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

@media screen and (max-width: 63rem) {
  .btn {
    padding: 8px 20px;
    border-radius: 20px;
  }
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
  }
  .timeline-content {
    width: 10rem;
    text-align: center;
    .inner-circle {
      border-radius: 1.5rem;
      height: 1rem;
      width: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #3b82f6;

      &:before {
        content: "";
        background-color: #3b82f6;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        min-width: 3rem;
        border-radius: 6.25rem;
        opacity: 0.5;
      }
    }
  }
}
@media (min-width: 768px) {
  .timeline-steps {
    .timeline-step:not(:last-child):after {
      content: "";
      display: block;
      border-top: 0.25rem dotted #3b82f6;
      width: 3.46rem;
      position: absolute;
      left: 7.5rem;
      top: 0.3125rem;
    }
    .timeline-step:not(:first-child):before {
      content: "";
      display: block;
      border-top: 0.25rem dotted #3b82f6;
      width: 3.8125rem;
      position: absolute;
      right: 7.5rem;
      top: 0.3125rem;
    }
  }
}

.carousel {
  &-image {
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
    filter: grayscale(40%);
  }
  &-caption {
    h5,
    p {
      color: $white;
    }
  }
}

@media screen and (max-width: 48rem) {
  .carousel {
    &-image {
      height: 70vh;
    }
  }
}

.page-link {
  color: $white !important;
  background-color: $dark-navy-transparent !important;
  padding: 8px 16px;
  font-weight: $fw-bold;
  box-shadow: $light-shadow !important;
  border: 1px solid $primary !important;
}

.alert {
  font-weight: $fw-bold;
  &-info {
    color: $green;
    background-color: $bg-light-gray;
    border-radius: 1rem;
    box-shadow: $dark-shadow;
  }
}

.separator {
  @include flex-row;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem;

  &__text {
    font-weight: $fw-super-bold;
    text-transform: uppercase;
    color: $text-light-gray;
  }
  &__line {
    flex: 1;
    height: 4px;
    background-color: $dark-navy-transparent;
  }
}
@media screen and (max-width: 48rem) {
  .separator {
    column-gap: 0.5rem;
    &__line {
      height: 2px;
    }
  }
}

.paginator {
  @include flex-row();
  justify-content: center;
  align-items: center;
  column-gap: 0;
  &-nav {
    @include flex-row;
    justify-content: center;
    align-items: center;
  }
}

.query {
  margin-top: 1.25rem;
  &__container {
    @include flex-col();
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    row-gap: 12px;
    width: 100%;
  }
  &__search {
    flex-grow: 1;
    min-width: 280px;

    .form-outline {
      flex-grow: 1;
    }

    &-input {
      width: 100%;
      height: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__group {
    width: 100%;
    @include flex-row();
    justify-content: center;
    column-gap: 8px;
    row-gap: 12px;
    flex-wrap: wrap;
  }
  &__label {
    margin-bottom: 2px;
  }
  &__item {
    text-align: center;
    &-dates {
      display: flex;
      flex-direction: column;
      row-gap: 0.25rem;
    }
  }
  &__filter {
    min-width: 220px !important;
  }
}

.modal {
  &-content {
    border-radius: 1rem;
  }
}
