@model string
<h3>Welcome to United for Ukraine!</h3>
<p>We are glad you're joining us in making a difference.</p>
<div>Please, confirm your email by clicking <a href="@Model">here</a> or copy and paste the following link into your browser: @Model</div>