.dark-theme {
  $pale-blue: #30495c;
  $text-light-gray: #c0c0c0;

  .wrapper {
    background: $pale-blue;
  }
  .header {
    background-color: $dark-navy !important;
    &__theme {
      &-svg {
        color: $white;
        fill: $bg-light-gray !important;
      }
    }
    .site-logo {
      &__text {
        color: $white;
      }
    }
  }
  .nav {
    &-link {
      color: $white !important;
      &:hover {
        color: $text-light-gray !important;
      }
      &.active {
        color: $sky-blue !important;
      }
    }
  }
  .navbar {
    &-toggler {
      color: $bg-light-gray !important;
      border-color: $primary-transparent !important;
    }
  }
  .dropdown {
    &-menu {
      // box-shadow: $light-shadow;
      background-color: $light-navy;
    }
    &-item {
      color: $white;
      &:hover,
      &:focus {
        background-color: $primary-transparent;
      }
    }
    &-divider {
      background-color: $text-light-gray;
    }
  }
  .hero {
    &__wrap {
      &::before {
        backdrop-filter: brightness(0%);
        opacity: 0.4;
        border-radius: 40px;
      }
    }
    &__card {
      background: $dark-navy-transparent !important;
      box-shadow: $light-shadow;
    }
    &__title {
      .yellow {
        text-shadow: 4px 4px 10px rgba(6, 99, 85, 0.85);
      }
    }
  }
  .heading,
  .sub-heading {
    color: $white;
  }
  p,
  li {
    color: $bg-light-gray;
  }
  p {
    strong {
      color: $text-light-gray !important;
    }
  }
  h1,
  h2 {
    & span.decoration {
      color: $sky-blue;
    }
  }
  .section-indicator {
    color: $sky-blue;
  }
  .btn {
    color: $bg-light-gray;

    &-outline {
      &-dark {
        border: 2px solid $bg-light-gray;
      }
      &-secondary {
        border-width: 2px;

        &:hover {
          color: $white;
        }
      }
      &-primary {
        border-width: 2px;
      }
    }
    &-light {
      // color: $dark-navy;
      background-color: $light-navy !important;
      border: 2px solid $primary;
    }
  }
  .card {
    background-color: $dark-navy;
    box-shadow: $light-shadow !important;
    &-title {
      color: $white;
    }
    em {
      color: $text-light-gray;
    }
  }
  .form {
    &-control {
      @include form-control-dark();

      &::placeholder {
        color: $text-light-gray;
      }
    }
    &-select {
      @include form-control-dark();
    }
    &-label {
      color: $bg-light-gray;
    }
    &-check {
      color: $bg-light-gray;
    }
  }
  .accordion {
    &-item {
      background-color: $dark-navy-transparent !important;
      border: none !important;
    }
    &-button {
      color: $white;
      background-color: $darker-gray-transparent;
      &:not(.collapsed) {
        box-shadow: $light-shadow !important;
      }
    }
  }
  .progress {
    background-color: $primary-transparent;
  }
  .blur-load {
    filter: brightness(80%);
  }
  .alert {
    &-info {
      background-color: $light-navy;
      border-color: $primary;
    }
    &-danger {
      color: $white;
      background-color: $accent-transparent;
      border-color: $primary-transparent;
      border-width: 2px;
    }
  }
  .auth {
    &__interlink {
      color: $white;
    }
  }
  .separator {
    &__line {
      background-color: $text-light-gray;
    }
    &__text {
      color: $text-light-gray;
    }
  }
}
