.news {
  &__list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.75rem;
    row-gap: 0.75rem;
  }
  &__item {
    &-link {
      text-decoration: none;
      color: inherit;
      transition: color 0.4s ease;
    }
    .card {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  &-detail {
    &__meta {
      &-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
        flex-wrap: wrap;
      }
      &-item {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        &:last-child {
          margin-left: auto;
          // justify-self: flex-end;
        }
      }
    }
    &__image {
      display: block;
      width: 80%;
      max-height: 30rem;
      object-fit: cover;
      border-radius: 12px;
      margin: 1.5rem auto;
    }
    &__content {
      text-align: justify;
    }
  }
}

@media screen and (max-width: 978px) {
  .news {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0.5rem;
      row-gap: 0.5rem;
    }
    &-detail {
      &__image {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .news {
    &__list {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 1rem;
    }
  }
}
