.news {
  &__query {
    &-container {
      @include flex-col();
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 12px;
      row-gap: 12px;
      width: 100%;
    }
    &-search {
      flex-grow: 1;
      min-width: 280px;

      .form-outline {
        flex-grow: 1;
      }

      &-input {
        width: 100%;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &-label {
      margin-bottom: 2px;
    }
    &-item {
      text-align: center;
    }
    &-filter {
      min-width: 280px;
    }
  }
  &__list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 0.75rem;
    row-gap: 0.5rem;
  }
}
