.form {
  width: 100%;
  margin: 0 auto;

  // &-select {
  //   &::picker-icon {
  //     transition: 0.4s rotate;
  //   }
  //   &:open::picker-icon {
  //     rotate: 180deg;
  //   }
  //   &::picker(select) {
  //     border: none;
  //   }
  // }

  &-buttons {
    @include flex-row();
    column-gap: 0.5rem;

    &--full {
      flex-direction: column;
      column-gap: 0;
      row-gap: 0.5rem;

      .form-buttons__item {
        width: 100%;
        @include flex-row;
        justify-content: center;
        align-items: center;
        column-gap: 0.25rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    &-buttons {
      row-gap: 0.25rem;
      &--full {
        row-gap: 0.75rem;
        .form-buttons__item {
          column-gap: 0.5rem;
        }
      }
    }
  }
}
