.form {
  width: 100%;
  margin: 0 auto;

  &-password {
    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }
  }
  &-text {
    font-size: 12px;
    font-weight: $fw-light;
  }
  &-control {
    border-radius: 1.25rem;
    padding: 0.5rem 1.25rem;

    &[type="file"] {
      padding: 1rem 1.25rem;
      &::-webkit-file-upload-button {
        cursor: pointer;
        border: none;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
      }
    }
  }
  &-outline {
    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &-select {
    display: block;
    min-width: 180px;
    // max-width: 160px;
    border-radius: 36px;
    flex-shrink: 0;
  }
  &-buttons {
    @include flex-row();
    column-gap: 0.5rem;

    &--full {
      flex-direction: column;
      column-gap: 0;
      row-gap: 0.5rem;

      .form-buttons__item {
        width: 100%;
        @include flex-row;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    &-buttons {
      row-gap: 0.25rem;
      &--full {
        row-gap: 0.75rem;
        .form-buttons__item {
          column-gap: 0.5rem;
        }
      }
    }
  }
}
