.header {
  background-color: $bg-light-gray !important;

  &__profile {
    &-svg {
      fill: $white;
    }

    &-form {
      padding-left: 4px;
      padding-right: 4px;
    }

    &-signout {
      display: block;
      padding: 8px 24px;
      width: 100%;
    }
  }
}
