.features {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    list-style: none;
    padding-left: 0;
  }
  &__item {
    min-height: 200px;

    .card {
      height: 100%;

      &-body {
        @include flex-row;
        @include flex-center;
        column-gap: 8px;
      }
    }
    &-svg {
      color: $sky-blue;
      font-size: 3rem;
    }
  }
}
