.hero {
  min-height: 96vh;
  margin-top: 20px;
  @include flex-col;
  @include flex-center;
  position: relative;
  overflow: hidden;

  .container {
    width: 100%;
    flex-grow: 1;
    @include flex-col;
    @include flex-center;
  }
  &__wrap {
    padding: 20px;
    width: 100%;
    position: relative;
    background-image: url("/assets/img/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    border: none;
    flex-grow: 1;
    @include flex-col;
    @include flex-center;
  }
  &__card {
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin: 0;
    color: $dark-navy;
    align-self: center;
    justify-self: flex-end;

    background-color: $pale-blue-glass;
    box-shadow: $dark-shadow;
    backdrop-filter: blur(3px);
    border: 1px solid $primary-transparent;

    &:hover {
      transform: scale(1.5);
    }
  }
  &__title {
    color: $sky-blue !important;
    font-weight: $fw-super-bold;
    .yellow {
      color: $secondary;
      text-shadow: 4px 4px 10px rgba(8, 206, 175, 0.85);
    }
  }
  &__description {
    color: $text-light-gray;
    font-weight: $fw-normal;
  }
}

@media screen and (max-width: 61.25rem) {
  .hero {
    &__wrap {
      padding: 12px 16px;
      border-radius: 16px;
    }
    &__card {
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
