.hero {
  min-height: 96vh;
  margin-top: 20px;
  @include flex-col;
  @include flex-center;
  position: relative;
  overflow: hidden;

  .container {
    width: 100%;
    flex-grow: 1;
    @include flex-col;
    @include flex-center;
  }

  &__wrap {
    padding: 20px;
    width: 100%;
    position: relative;
    background-image: url("/assets/img/hero-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // -webkit-border-radius: 50px;
    // -moz-border-radius: 50px;
    border-radius: 40px;
    border: none;
    flex-grow: 1;
    @include flex-col;
    @include flex-center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }
  &__card {
    transition: all 0.4s ease-in-out;
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin: 0;
    color: $dark-navy;
    background-color: $bg-light-gray;
    align-self: center;
    justify-self: flex-end;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__title {
    color: $dark-navy;
    font-weight: $fw-super-bold;
  }
}
