.statistics {
  &__headline {
    @include flex-row();
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    list-style: none;
    padding-left: 0;
  }
  &__item {
    min-height: 200px;
    .card {
      height: 100%;
    }
    &:first-child > .card {
      background-color: $text-dark-gray !important;
      color: $white;

      p {
        color: $pale-blue;
      }
    }
    &:nth-child(odd) > .card {
      background-color: $text-light-gray;
      color: $white;

      p {
        color: $pale-blue;
      }
    }

    &-group {
      @include flex-row();
      align-items: center;
      column-gap: 12px;
    }
    &-icon {
      font-size: 2.25rem;
      color: $accent;
    }
    &-title {
      font-weight: $fw-bold;
      font-size: 1.3rem;
    }
    &-amount {
      font-size: 2.5rem;
      font-weight: $fw-super-bold;
    }
  }
}

@media screen and (max-width: 768px) {
  .statistics {
    &__headline {
      @include flex-col();
      justify-content: center;
      align-items: flex-start;
      row-gap: 8px;
    }
  }
}
